@page
@model BikeRenter.Pages.Bikes.IndexModel
@{
}

<br>
<h2>List of Bikes</h2>
<a class='btn btn-primary btn-sm' href='/Bikes/Create'>New Bikes</a>
<table class ="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Model</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listBikes)
        {
            <tr>
                <td>@item.BikeID</td>
                <td>@item.type</td>
                <td>@item.model</td>
                <td>@item.price</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Bikes/Edit?id=@item.BikeID">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Bikes/Delete?id=@item.BikeID">Delete</a>
                 </td>
            </tr>
        }
    </tbody>
</table>