@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="align-content: center;">
    <h1 class="display-10">Group members:</h1>
    <div style="text-align: center;">
        <ul style="display: inline-block;">
            <li><b>Yu Qing Leong</b> - B686M726</li>
            <li><b>Khang Duong</b> - B323A775</li>
        </ul>
    </div>
</div>